.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 412px;
    height: 416px;
    border-radius: 30px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
}

.container {
    padding: 32px 32px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



